USE [master]
GO
/****** Object:  Database [EventAttendancerecord]    Script Date: 6/5/2026 9:28:32 PM ******/
CREATE DATABASE [EventAttendancerecord]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventAttendancerecord', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EventAttendancerecord.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventAttendancerecord_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EventAttendancerecord_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventAttendancerecord].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventAttendancerecord]
GO
/****** Object:  Table [dbo].[AttendanceRecord]    Script Date: 6/5/2026 9:28:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecord](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[AttendeeID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[TimeStamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendee]    Script Date: 6/5/2026 9:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendee](
	[AttendeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[ContactInformation] [nvarchar](150) NULL,
	[DeptID] [int] NULL,
	[YearID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 6/5/2026 9:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptID] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 6/5/2026 9:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](150) NOT NULL,
	[EventDate] [datetime2](7) NOT NULL,
	[Location] [nvarchar](150) NULL,
	[CategoryID] [int] NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventCategory]    Script Date: 6/5/2026 9:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 6/5/2026 9:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[GeneratedDate] [datetime] NULL,
	[FilePath] [nvarchar](200) NULL,
	[GeneratedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/5/2026 9:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YearLevel]    Script Date: 6/5/2026 9:28:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YearLevel](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[YearName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[YearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AttendanceRecord] ON 

INSERT [dbo].[AttendanceRecord] ([AttendanceID], [EventID], [AttendeeID], [Status], [TimeStamp]) VALUES (3, 8, 4, N'Present', CAST(N'2026-05-14T08:00:21.000' AS DateTime))
INSERT [dbo].[AttendanceRecord] ([AttendanceID], [EventID], [AttendeeID], [Status], [TimeStamp]) VALUES (4, 7, 4, N'Present', CAST(N'2026-05-28T08:21:32.303' AS DateTime))
INSERT [dbo].[AttendanceRecord] ([AttendanceID], [EventID], [AttendeeID], [Status], [TimeStamp]) VALUES (5, 8, 5, N'Absent', CAST(N'2026-05-28T08:00:15.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[AttendanceRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendee] ON 

INSERT [dbo].[Attendee] ([AttendeeID], [FirstName], [LastName], [ContactInformation], [DeptID], [YearID]) VALUES (4, N'', N'', N'', NULL, NULL)
INSERT [dbo].[Attendee] ([AttendeeID], [FirstName], [LastName], [ContactInformation], [DeptID], [YearID]) VALUES (5, N'', N'', N'', NULL, NULL)
INSERT [dbo].[Attendee] ([AttendeeID], [FirstName], [LastName], [ContactInformation], [DeptID], [YearID]) VALUES (6, N'', N'', N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Attendee] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DeptID], [DeptName]) VALUES (1, N'Innovations Department')
INSERT [dbo].[Department] ([DeptID], [DeptName]) VALUES (2, N'Communications Department')
INSERT [dbo].[Department] ([DeptID], [DeptName]) VALUES (3, N'Administration Department')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventID], [EventName], [EventDate], [Location], [CategoryID], [UserID]) VALUES (7, N'Cosplay Con', CAST(N'2026-05-28T09:00:50.0000000' AS DateTime2), N'STI San Pablo', 5, NULL)
INSERT [dbo].[Event] ([EventID], [EventName], [EventDate], [Location], [CategoryID], [UserID]) VALUES (8, N'SportsFest', CAST(N'2026-05-31T08:00:46.0000000' AS DateTime2), N'South Lakes ', 9, NULL)
INSERT [dbo].[Event] ([EventID], [EventName], [EventDate], [Location], [CategoryID], [UserID]) VALUES (11, N'Online Meeting', CAST(N'2026-05-29T09:30:05.0000000' AS DateTime2), N'MS TEAMS', 4, 1)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[EventCategory] ON 

INSERT [dbo].[EventCategory] ([CategoryID], [CategoryName]) VALUES (1, N'Seminar')
INSERT [dbo].[EventCategory] ([CategoryID], [CategoryName]) VALUES (2, N'Training')
INSERT [dbo].[EventCategory] ([CategoryID], [CategoryName]) VALUES (3, N'Workshop')
SET IDENTITY_INSERT [dbo].[EventCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ReportID], [EventID], [GeneratedDate], [FilePath], [GeneratedBy]) VALUES (11, 12, CAST(N'2026-05-29T07:18:51.920' AS DateTime), N'C:\Users\aegam\Downloads\HackFleurReport.pdf', NULL)
INSERT [dbo].[Report] ([ReportID], [EventID], [GeneratedDate], [FilePath], [GeneratedBy]) VALUES (12, 7, CAST(N'2026-05-29T07:37:30.050' AS DateTime), NULL, NULL)
INSERT [dbo].[Report] ([ReportID], [EventID], [GeneratedDate], [FilePath], [GeneratedBy]) VALUES (13, 12, CAST(N'2026-05-29T07:37:34.363' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role]) VALUES (1, N'John Andrew', N'password1', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role]) VALUES (2, N'John Andrew', N'password1', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role]) VALUES (3, N'Juan', N'Juan123', N'Member')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[YearLevel] ON 

INSERT [dbo].[YearLevel] ([YearID], [YearName]) VALUES (1, N'BSIT 1st Year')
INSERT [dbo].[YearLevel] ([YearID], [YearName]) VALUES (2, N'BSIT 2nd Year')
INSERT [dbo].[YearLevel] ([YearID], [YearName]) VALUES (3, N'BSIT 3rd Year')
SET IDENTITY_INSERT [dbo].[YearLevel] OFF
GO
ALTER TABLE [dbo].[Report] ADD  DEFAULT (getdate()) FOR [GeneratedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Member') FOR [Role]
GO
ALTER TABLE [dbo].[AttendanceRecord]  WITH CHECK ADD FOREIGN KEY([AttendeeID])
REFERENCES [dbo].[Attendee] ([AttendeeID])
GO
ALTER TABLE [dbo].[AttendanceRecord]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Attendee]  WITH CHECK ADD FOREIGN KEY([DeptID])
REFERENCES [dbo].[Department] ([DeptID])
GO
ALTER TABLE [dbo].[Attendee]  WITH CHECK ADD FOREIGN KEY([YearID])
REFERENCES [dbo].[YearLevel] ([YearID])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[EventCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([GeneratedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AttendanceRecord]  WITH CHECK ADD  CONSTRAINT [CHK_AttendanceStatus] CHECK  (([Status]='Late' OR [Status]='Absent' OR [Status]='Present'))
GO
ALTER TABLE [dbo].[AttendanceRecord] CHECK CONSTRAINT [CHK_AttendanceStatus]
GO
USE [master]
GO
